.wrapper {
    display: flex;
    height: fit-content;
}

.container {
    border-bottom: 2px solid var(--teal, #62a39e);
    flex-direction: row !important;
}

.select {
    max-width: 7rem;
    font-size: 1rem;
    width: min-content;
    border: none;
    color: var(--blue-primary, #353f3b);
    background-color: transparent;
    cursor: pointer;

    /* Safari specific rules */
    border-radius: 0;
    appearance: none;
    -webkit-appearance: none;
}

.container svg {
    pointer-events: none;
    margin: 0 !important;
}