.wrapper {
    display: flex;
    height: fit-content;
}

.container {
    border-bottom: 2px solid var(--teal);
}

.select {
    max-width: 7rem;
    font-size: 1rem;
    width: min-content;
    border: none;
    color: var(--blue-primary);
    background-color: transparent;
    cursor: pointer;

    /* Safari specific rules */
    border-radius: 0;
    appearance: none;
    -webkit-appearance: none;
}

/* TODO: remove this? */
.container img {
    pointer-events: none;
}