@font-face {
	font-family: 'Nunito-Sans';
	font-style: normal;
	font-weight: 400;
	src: url('./fonts/NunitoSans-Regular.ttf');
}

@font-face {
	font-family: 'Nunito-Sans';
	font-style: italic;
	font-weight: 400;
	src: url('./fonts/NunitoSans-Italic.ttf');
}

@font-face {
	font-family: 'Nunito-Sans';
	font-style: bold;
	font-weight: 700;
	src: url('./fonts/NunitoSans-Bold.ttf');
}

body {
	font-family: "Nunito-Sans", sans-serif;
}
