.container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.title {
    font-size: 1.56rem;
    margin: 0;
}

.brand {
    margin: 0;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.list div:last-child {
    border-bottom: none;
}